@charset "utf-8";
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{border:0;outline:0;margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
 *html{background-image:url(about:blank);background-attachment:fixed;} 
body{color:#1a1a1a;-webkit-text-size-adjust:none;}
body,img{-moz-user-select: text;-webkit-user-select: text;-webkit-touch-callout: text;}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#000}
a:hover{color:#155fab;text-decoration:none;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0)}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0;}
textarea{resize:none}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
.cb{ clear:both; display:block; height:0px;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */ 
html,body{ width:100%; height:100%; position:relative;}
body{ font:12px/20px "Microsoft YaHei","微软雅黑"; color:#000000; }
.cot{ display:block; width:90%; max-width:1014px;_width:1014px; margin:0px auto;}
.header{ padding:18px 0px; z-index:10;}
.header,.sheader{ background-color:#FFF;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;
box-shadow:1px 0px 8px #9fb4c8; position:fixed; width:100%; top:0px; left:0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+0));}
.header img{float:left; vertical-align:middle; height:52px;}
.header,.header img{transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;-o-transition: all 0.3s;}
.header_link{ text-align:right;}
.header a{ line-height:52px; margin:0px 16px; font-size:14px; font-weight:bold;}
.header a.on{ color:#155fab;}
.header.on img{ height:30px;}
.header.on,.sheader{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.header.on  a{ line-height:30px;}
.header.on{ padding:8px 0px;}
.search{ display:inline-block; vertical-align:middle; width:23px; height:23px;  background:url(../images/ico1.png) -74px 0px no-repeat;}
.shadow{box-shadow:0px 0px 3px #dde0e2;}
.footer{ padding:35px 0px;}
.footer_qr{ float:left; display:block; margin-right:10px; vertical-align:middle;}
.footer_div{ float:left; vertical-align:middle;}
.footer_div p{ line-height:28px;}
.footer_div p a{ margin:0px 16px; display:inline-block;}
.footer_div_p2{ margin-left:16px;}
.footer_div2{ float:right; vertical-align:middle; padding-top:16px;}
.footer_div2 a{display:inline-block; margin:0px 3px; width:23px; height:23px;}
.footer_qq{ background:url(../images/ico1.png) 0 0 no-repeat;}
.footer_sina{ background:url(../images/ico1.png) -23px 0 no-repeat;}
.footer_tweibo{ background:url(../images/ico1.png) -46px 0 no-repeat;}
.main{transform:translate(0px,0px);-ms-transform: translate(0px,0px);-webkit-transform: translate(0px,0px);-o-transform: translate(0px,0px);-moz-transform: translate(0px,0px);}
.sheader{ display:none; width:100%; padding:15px 8px; position:fixed; left:0px; top:0px; z-index:10;}
.sheader img{ height:28px; display:block; vertical-align: middle;}
.sheader span{ cursor:pointer; display:block; width:28px; height:28px; float:right;background-image:url(../images/bar01.png); background-size:100% 100%;}
.nav{ display:none;}
@media screen and (max-width:850px){
.header{ display:none;}
.sheader{ display:block;}
.footer_qr{ display:none;}
.footer_div,.footer_div2{ float:none; text-align:center;}
html,body{ overflow-x: hidden;}
.nav{ display:block; width:150px; height:100%; position: fixed; left:0px; top:0px; background-color:#155fab;transform:translate(-150px,0px);-ms-transform: translate(-150px,0px);-webkit-transform: translate(-150px,0px);-o-transform: translate(-150px,0px);-moz-transform: translate(-150px,0px);}
.nav a{ display:block; height:40px; line-height:40px; font-size:12px; font-weight:bold; text-align:center; border-top:1px solid #2375c9; border-bottom:1px solid #064687; color:#fff;}
.nav a:last-child{ border-bottom:0px;}
.nav a:first-child{ border-top:0px;}
.nav a.on{ background-color:#04376b;}
.nav,.main{transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}
body.open .main{transform:translate(150px,0px);-ms-transform: translate(150px,0px);-webkit-transform: translate(150px,0px);-o-transform: translate(150px,0px);-moz-transform: translate(150px,0px);}
body.open .nav{transform:translate(0px,0px);-ms-transform: translate(0px,0px);-webkit-transform: translate(0px,0px);-o-transform: translate(0px,0px);-moz-transform: translate(0px,0px);}
}